In [6]:
import pandas as pd;

In [7]:
df=pd.read_csv('/IPL_player_performance_analysis/Batting_data_cleaned/Batting_data_cleaned.csv')
# Top run scorers by season
# Assuming df is your DataFrame containing 'Season', 'Player', and 'Runs' columns
top_5_scorers_per_season = df.groupby('season').apply(lambda x: x.nlargest(5, 'runs')).reset_index(drop=True)

# Displaying only player names and runs scored
result = top_5_scorers_per_season[['season', 'name', 'runs']]

print("Top 5 Run Scorers by Season (Names and Runs):")
print(result)


# Overall top scorer
overall_top_scorer = df.groupby('name')['runs'].sum().nlargest(15)

print("\nOverall Top 15 Run Scorer:")
print(overall_top_scorer)

Top 5 Run Scorers by Season (Names and Runs):
    season           name   runs
0   2008.0    BB McCullum  158.0
1   2008.0      A Symonds  117.0
2   2008.0     MEK Hussey  116.0
3   2008.0       SE Marsh  115.0
4   2008.0  ST Jayasuriya  114.0
..     ...            ...    ...
75  2023.0   Shubman Gill  129.0
76  2023.0    YBK Jaiswal  124.0
77  2023.0      H Klaasen  104.0
78  2023.0   Shubman Gill  104.0
79  2023.0       SA Yadav  103.0

[80 rows x 3 columns]

Overall Top 15 Run Scorer:
name
V Kohli           7263.0
S Dhawan          6617.0
DA Warner         6351.0
RG Sharma         6191.0
SK Raina          5528.0
AB de Villiers    5162.0
MS Dhoni          5082.0
CH Gayle          4965.0
RV Uthappa        4952.0
KD Karthik        4516.0
AM Rahane         4400.0
AT Rayudu         4348.0
G Gambhir         4217.0
KL Rahul          4163.0
F du Plessis      4133.0
Name: runs, dtype: float64

C:\Users\Hardi\AppData\Local\Temp\ipykernel_14220\3423671975.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_5_scorers_per_season = df.groupby('season').apply(lambda x: x.nlargest(5, 'runs')).reset_index(drop=True)

In [11]:
# highest strike rate
# Sort the players based on the strike rate in descending order
top_strike_rates = df.sort_values(by='strikeRate', ascending=False)

# Display only the top players' names and their strike rates
top_strike_rates[['name', 'strikeRate']].head(10)  # Top 10 players by strike rate

                          name  strikeRate
1850                   DR Sams       600.0
5719   JPR Scantlebury-Searles       600.0
3731                  N Pooran       600.0
3007                 RA Jadeja       600.0
10966            R Vinay Kumar       600.0
9044                  R Bhatia       600.0
9497                   AP Tare       600.0
6255               Rashid Khan       600.0
12934                 DJ Bravo       600.0
39                   K Gowtham       600.0

In [13]:
# Grouping by player name and season, then calculating the mean strike rate
avg_strike_rate = df.groupby(['name', 'season'])['strikeRate'].mean().reset_index()

# Renaming the columns 
avg_strike_rate.columns = ['name', 'season', 'Average_Strike_Rate']

# Display the result
print(avg_strike_rate)

                name  season  Average_Strike_Rate
0     A Ashish Reddy  2012.0           130.000000
1     A Ashish Reddy  2013.0           128.669000
2     A Ashish Reddy  2015.0           164.054000
3     A Ashish Reddy  2016.0           135.643333
4           A Badoni  2022.0           126.291818
...              ...     ...                  ...
2468          Z Khan  2011.0            50.000000
2469          Z Khan  2012.0            47.617500
2470          Z Khan  2014.0            94.443333
2471          Z Khan  2016.0            47.220000
2472          Z Khan  2017.0            72.726667

[2473 rows x 3 columns]

In [20]:
# Group by player and season, calculate the mean strike rate for each player per season
avg_strike_rate = df.groupby(['season', 'name'])['strikeRate'].mean().reset_index()

# Exclude grouping columns
top_5_strike_rate_per_season = avg_strike_rate.groupby('season', group_keys=False).apply(lambda x: x.nlargest(5, 'strikeRate'))

# Display the result
print('top 5 strike rate per season',top_5_strike_rate_per_season[['season', 'name', 'strikeRate']])

top 5 strike rate per season       season          name  strikeRate
38    2008.0      DT Patil  237.500000
24    2008.0  CRD Fernando  200.000000
138   2008.0      Umar Gul  198.295000
64    2008.0   LRPL Taylor  190.217500
51    2008.0      JDP Oram  190.000000
...      ...           ...         ...
2459  2023.0   Umran Malik  237.500000
2364  2023.0     K Gowtham  220.520000
2317  2023.0    Akash Deep  212.500000
2332  2023.0       D Wiese  194.443333
2383  2023.0       MA Wood  191.665000

[80 rows x 3 columns]

C:\Users\Hardi\AppData\Local\Temp\ipykernel_14220\3079282274.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_5_strike_rate_per_season = avg_strike_rate.groupby('season', group_keys=False).apply(lambda x: x.nlargest(5, 'strikeRate'))

In [ ]:
total_runs = df.groupby(['season', 'name'])['runs'].sum().reset_index()

# Get the top 5 scorers per season
top_5_scorers = total_runs.groupby('season').apply(lambda x: x.nlargest(5, 'runs')).reset_index(drop=True)
print(top_5_scorers)