In [3]:
import numpy as np;
import pandas as pd;

In [113]:
df=pd.read_csv('/IPL_player_performance_analysis/Raw_source_data/all_season_batting_card.csv')

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15720 entries, 0 to 15719
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           15684 non-null  float64
 1   match_id         15720 non-null  int64
 2   match_name       15720 non-null  object
 3   home_team        15720 non-null  object
 4   away_team        15720 non-null  object
 5   venue            15720 non-null  object
 6   city             15720 non-null  object
 7   country          15720 non-null  object
 8   current_innings  15720 non-null  object
 9   innings_id       15720 non-null  int64
 10  name             15720 non-null  object
 11  fullName         15720 non-null  object
 12  runs             15714 non-null  float64
 13  ballsFaced       15714 non-null  float64
 14  minutes          15714 non-null  object
 15  fours            15714 non-null  float64
 16  sixes            15714 non-null  float64
 17  strikeRate       15714 non-null  object
 18  captain          15720 non-null  bool
 19  isNotOut         15714 non-null  object
 20  runningScore     15714 non-null  object
 21  runningOver      12029 non-null  float64
 22  shortText        15720 non-null  object
 23  commentary       12026 non-null  object
 24  link             0 non-null      float64
dtypes: bool(1), float64(7), int64(2), object(15)
memory usage: 2.9+ MB

In [115]:
df.drop(['link','commentary','shortText','runningOver'],axis=1,inplace=True);

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15720 entries, 0 to 15719
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           15684 non-null  float64
 1   match_id         15720 non-null  int64
 2   match_name       15720 non-null  object
 3   home_team        15720 non-null  object
 4   away_team        15720 non-null  object
 5   venue            15720 non-null  object
 6   city             15720 non-null  object
 7   country          15720 non-null  object
 8   current_innings  15720 non-null  object
 9   innings_id       15720 non-null  int64
 10  name             15720 non-null  object
 11  fullName         15720 non-null  object
 12  runs             15714 non-null  float64
 13  ballsFaced       15714 non-null  float64
 14  minutes          15714 non-null  object
 15  fours            15714 non-null  float64
 16  sixes            15714 non-null  float64
 17  strikeRate       15714 non-null  object
 18  captain          15720 non-null  bool
 19  isNotOut         15714 non-null  object
 20  runningScore     15714 non-null  object
dtypes: bool(1), float64(5), int64(2), object(13)
memory usage: 2.4+ MB

In [117]:
#converting minutes from txt to int
df['minutes'] = pd.to_numeric(df['minutes'], errors='coerce')

In [118]:
avg_value = df_cleaned['minutes'].mean()
df['minutes'] = df['minutes'].fillna(avg_value)

In [119]:
df=df.dropna(subset=['season','ballsFaced','sixes','fours'])

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15678 entries, 0 to 15719
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           15678 non-null  float64
 1   match_id         15678 non-null  int64
 2   match_name       15678 non-null  object
 3   home_team        15678 non-null  object
 4   away_team        15678 non-null  object
 5   venue            15678 non-null  object
 6   city             15678 non-null  object
 7   country          15678 non-null  object
 8   current_innings  15678 non-null  object
 9   innings_id       15678 non-null  int64
 10  name             15678 non-null  object
 11  fullName         15678 non-null  object
 12  runs             15678 non-null  float64
 13  ballsFaced       15678 non-null  float64
 14  minutes          15678 non-null  float64
 15  fours            15678 non-null  float64
 16  sixes            15678 non-null  float64
 17  strikeRate       15678 non-null  object
 18  captain          15678 non-null  bool
 19  isNotOut         15678 non-null  object
 20  runningScore     15678 non-null  object
dtypes: bool(1), float64(6), int64(2), object(12)
memory usage: 2.5+ MB

In [121]:
df['runs'] = df.groupby('name')['runs'].transform(lambda x: x.fillna(x.mean()))

In [122]:
df['sixes'] = df.groupby('name')['sixes'].transform(lambda x: x.fillna(x.mean()))

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15678 entries, 0 to 15719
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           15678 non-null  float64
 1   match_id         15678 non-null  int64
 2   match_name       15678 non-null  object
 3   home_team        15678 non-null  object
 4   away_team        15678 non-null  object
 5   venue            15678 non-null  object
 6   city             15678 non-null  object
 7   country          15678 non-null  object
 8   current_innings  15678 non-null  object
 9   innings_id       15678 non-null  int64
 10  name             15678 non-null  object
 11  fullName         15678 non-null  object
 12  runs             15678 non-null  float64
 13  ballsFaced       15678 non-null  float64
 14  minutes          15678 non-null  float64
 15  fours            15678 non-null  float64
 16  sixes            15678 non-null  float64
 17  strikeRate       15678 non-null  object
 18  captain          15678 non-null  bool
 19  isNotOut         15678 non-null  object
 20  runningScore     15678 non-null  object
dtypes: bool(1), float64(6), int64(2), object(12)
memory usage: 2.5+ MB